<html class="theme-light" lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta property="og:site_name" content="GoAnimate">
		<title><%= movie.title %> | GoAnimate</title>
		<meta name="description" content="Make a video online for free with GoAnimate! Make videos for YouTube, create educational videos, make animated e-cards and more!">

		<link href="/static/go/css/site.css" rel="stylesheet" type="text/css">
		<link href="/static/go/css/style.css" rel="stylesheet" type="text/css">
		<link href="/static/go/css/app/movie.css" rel="stylesheet" type="text/css">
		
		<script src="/socket.io/socket.io.js"></script>
		<script src="/static/go/js/libs/jquery/jquery-1.11.0.min.js"></script>
		<script src="/static/go/js/libs/jquery/jquery.swfobject.min.js"></script>
		<script src="/static/go/js/libs/jquery/jquery.tmpl.min.js"></script>
		<script src="/static/go/js/libs/Gettext.js"></script>
		<script src="/static/go/po/goserver_js-en_US.js"></script>
		<script> // set up gettext
			var I18N_LANG = "en_US";
			var GT = new Gettext({
				"locale_data": json_locale_data
			});
		</script>
	</head>
	<body class="en_US has-user full_screen_studio studio-locked">
		<%- include("../includes/header", { user: user }); %>

		<main>
			<div class="container">	
				<div id="movie-container" class="flex-container">
					<div id="player_holder"></div>
					<div>
						<h1><%= movie.title %></h1>

					</div>
				</div>
			</div>
		</main>
	</body>
	<script src="/static/go/js/go2.js"></script>
	<script src="/static/go/js/site.js"></script>
	<script>
		var socket = io();

socket.on("message", () => console.log("ok"));

		var studio_data = {
			id: "Studio",
			swf: "/static/animation/414827163ad4eb60/player.swf",
			width: "100%",
			height: "100%",

			align: "middle",
			allowScriptAccess: "always",
			allowFullScreen: "true",
			wmode: "window",

			hasVersion: "10.3"
		};
		studio_data.flashvars = {
			"movieId": "<%= movie.id %>",
			"apiserver": "\/",
			"storePath": "\/static\/store\/3a981f5cb2739137\/<store>",
			"clientThemePath": "\/static\/ad44370a650793d9\/<client_theme>",
			"autostart": 1,
			"ut": 60,
			"lid": "0",
			"ctc": "go",
			"tlang": "en_US",
			"siteId": "go",
			"appCode": "go",
			"lang": "en",
			"isWide": 1,
			"isEmbed": 1,
			"thumbnailUrl": "https://go.octanuary.tk/files/movie/<%= movie.id %>/thumbnail",
		};

		$("#player_holder").flash(studio_data);
	</script>
</html>
